{{- $isWork := promptBoolOnce . "isWork" "work machine" -}}

sourceDir = "~/ghq/github.com/chez-shanpu/dotfiles"
encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/chezmoi.key"
    recipient = "age103gtxahm6tm29vpuu9t00yum2zgxrm33nyf5egvmal8pgtdgavjszejkem"

[data]
    isWork = {{ $isWork }}

    email = {{ default "tomoki.sugiura@mail.shanpu.info" (env "CHEZMOI_EMAIL") | quote }}

    # gith
    git_name = {{ default "chez-shanpu" (env "CHEZMOI_GIT_NAME") | quote }}
    git_signingkey = {{ default "" (env "CHEZMOI_GIT_SIGNINGKEY") | quote }}

    # brew
    homebrew_github_token = {{ default "" (env "CHEZMOI_HOMEBREW_GITHUB_TOKEN") | quote }}

[merge]
    command = "bash"
    args = [
        "-c",
        "cp {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} print .Target `.base` | quote {{ "}}" }} && code --new-window --wait --merge {{ "{{" }} .Destination | quote {{ "}}" }} {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} print .Target `.base` | quote {{ "}}" }} {{ "{{" }} .Source | quote {{ "}}" }}",
    ]

