[user]
	email = cheztomo513@gmail.com
	name = chez-shanpu

[ghq]
	root = ~/ghq
    root = ~/go/src
    root = ~/go/1.10.1/src

[alias]
	a = add
	br = branch
	brp= !git branch | peco
	cm = commit
	co = checkout
	cop = !git checkout $(git branch | peco)
	df = diff
    dfw = diff --word-diff	# 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
    gr = log --graph --date=format:'%Y/%m/%d %H:%M:%S' --decorate=full --pretty=format:'%C(bold green)%h%Creset - %C(bold yellow)%cd %Creset%C(bold cyan)%cn %Cred%d %Creset%C(bold white)%s %Creset%n%b'
    lgst = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    lgmg = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    pl = pull
    pu = push
	st = status

[url "github:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = git@github.com:
