[user]
	email = tomoki.sugiura@mail.shanpu.info
	name = chez-shanpu

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    line-numbers = true
    side-by-side = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = false
[ghq]
    root = ~/go/src
    root = ~/ghq

[alias]
	a = add
	br = branch
	brp= !git branch | peco
	cm = commit
	co = checkout
	cop = !git checkout $(git branch | peco)
	df = diff
    dfw = diff --word-diff	# 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
    gr = log --graph --date=format:'%Y/%m/%d %H:%M:%S' --decorate=full --pretty=format:'%C(bold green)%h%Creset - %C(bold yellow)%cd %Creset%C(bold cyan)%cn %Cred%d %Creset%C(bold white)%s %Creset%n%b'
    lgst = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    lgmg = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    pl = pull
    pu = push
    st = status
    unstage = reset HEAD

[url "github:"]
    pushInsteadOf = https://github.com/
    pushInsteadOf = git@github.com:

[url "git@github.com:"]
    insteadOf = https://github.com/

[core]
	editor = nvim

[init]
	defaultBranch = main
