########## history ##########

function sync_history --on-event fish_exit
    history merge
end


########## fish plugin ##########
# ghq
set -U GHQ_SELECTOR peco

# key-bindings
function fish_user_key_bindings
    #peco
    bind \cr peco_select_history
    #tmux-ghq
    bind \cg tmux-ghq
end


########## editor ##########
set -x EDITOR nvim


########## locale ##########
set -x LC_CTYPE en_US.UTF-8


########## PATH ##########
{{- if (eq .chezmoi.os "linux" ) }}
set -x PATH $HOME/.ngrok $PATH
set -x PATH ~/.local/bin $PATH
{{- end }}
set -x PATH $HOME/bin $PATH

set -x PATH $HOME/.local/bin $PATH
set -x PATH $HOME/.rd/bin $PATH


########## Homebrew ##########
set -x HOMEBREW_GITHUB_API_TOKEN {{ .homebrew_github_token }}

{{- if (eq .chezmoi.os "linux" ) }}
set -x PATH /home/linuxbrew/.linuxbrew/bin $PATH
{{- end }}

{{- if (eq .chezmoi.os "darwin" ) }}
{{- if (eq .chezmoi.arch "amd64" ) }}
eval "$(/usr/local/bin/brew shellenv)"
{{- else if (eq .chezmoi.arch "arm64" ) }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}
{{- end }}


########## theme ##########
starship init fish | source
set -U fish_color_autosuggestion brblack --dim


########## Env Vars ##########
set -x XDG_CONFIG_HOME $HOME/.config
set -x XDG_CACHE_HOME $HOME/.cache
set -x GPG_TTY (tty)
set -gx MANPAGER "sh -c 'col -bx | bat -l man'"


########## direnv ##########
if command -v direnv > /dev/null
    eval (direnv hook fish)
end


########## fzf ##########
set -x FZF_DEFAULT_OPTS "--height 40% --reverse --border"


########## pipenv ##########
set -x PIPENV_VENV_IN_PROJECT true


########## Aqua ##########
set -x PATH $(aqua root-dir)/bin $PATH


########## go ##########
set -x GOPATH ~/go
set -x PATH $HOME/go/bin $PATH


########## rust ##########
set -x PATH $HOME/.cargo/bin $PATH


########## kubernetes ##########
set -x KUBE_EDITOR nvim

# kubebuilder
set -x PATH /usr/local/kubebuilder/bin $PATH

# krew
set -gx PATH $PATH $HOME/.krew/bin


########## alias ##########
alias cc 'claude -c || claude'

{{- if (eq .chezmoi.os "darwin") }}
alias rm 'trash'
if command -v gsed > /dev/null
    alias sed 'gsed'
end
{{- end }}

{{- if (eq .chezmoi.os "linux" ) }}
alias ls 'ls -a --color=auto'
{{- end }}

# bottom
if command -v btm > /dev/null
    alias top="btm --color gruvbox --tree"
end

# eza
if command -v eza > /dev/null
    alias l="eza"
    alias ls="eza"
    alias la="eza -a"
    alias ll="eza --long"
    alias tree="eza --tree --level 3"
else
    alias l="ls"
    alias la="ls -a"
    alias ll="ls -al"
end

# bat
if command -v bat > /dev/null
    alias cat="bat --plain"
end

# procs
if command -v procs > /dev/null
    alias ps="procs"
    alias pst="procs --tree"
end

# git
alias g 'git'
alias ghb 'gh repo view -w'

# nvim
alias vi 'nvim'

# docker
alias d 'docker'
alias dc 'docker-compose'

# kubernetes
alias k 'kubectl'
alias kn 'kubens'
alias kc 'kubectx'
alias kcon 'kubectl get pods --all-namespaces -o=jsonpath=\'{range .items[*]}{"\n"}{.metadata.name}{":\t"}{range .spec.containers[*]}{.image}{", "}{end}{end}\' | sort'
alias kcomdel 'kubectl get po | sed "1d" | grep -e Completed | cut -f 1 -d " " | xargs -I{} kubectl delete pod {}'
alias kerrdel 'kubectl get po | sed "1d" | grep -e Error | cut -f 1 -d " " | xargs -I{} kubectl delete pod {}'


########## Gcloud ##########
# The next line updates PATH for the Google Cloud SDK.
if [ -f '~/google-cloud-sdk/path.fish.inc' ]; . '~/google-cloud-sdk/path.fish.inc'; end

### MANAGED BY RANCHER DESKTOP START (DO NOT EDIT)
set --export --prepend PATH "$HOME/.rd/bin"
### MANAGED BY RANCHER DESKTOP END (DO NOT EDIT)


########## pnpm ##########
set -gx PNPM_HOME $HOME/Library/pnpm
if not string match -q -- $PNPM_HOME $PATH
    set -gx PATH "$PNPM_HOME" $PATH
end

########## Antigravity ##########
set -x PATH $HOME/.antigravity/antigravity/bin $PATH

